.more{
    padding-top: 8px;

    &__title{
        font-family: 'Readex Pro';
        font-weight: 400;
        font-size: 42px;
        line-height: 52px;
        text-align: center;
    }

    &__subtitle{
        font-family: 'Readex Pro';
        font-weight: 400;
        font-size: 17px;
        line-height: 17px;
        text-align: center;
        padding-top: 8px;
    }

   .col1{
       padding-bottom: 320px;
   }
}